@import "variables.less";
@import "mixins.less";
@import "navigation.less";
html,
body {
    min-height: 100%;
    width: 100%;
}

body {
    .serif-font;
    color: @text-color;
    background: url(../img/bg.jpg) repeat-x #b0d169;
}

hr {
    border-color: @theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

h3 h4,
h5,
h6 {
    .serif-font;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 700;
    .sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.img-kariton {
    height: 50%;
    width: 50%;
    margin: auto;
}

.brand-title {
    text-transform: lowercase;
    font-weight: 400;
    strong {
        text-transform: uppercase;
        color: darkgreen;
    }
}

.text-faded {
    color: fade(@theme-light, 70%);
}

.push-down {
    padding-top: 50px;
}

.padded {
    padding-top: 30px;
    padding-bottom: 30px;
}

.no-padding {
    padding: 0;
}

.header-content {
    text-align: center;
}

.container-content {
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
}

.kariton {
    height: 50%;
}

.btn-default {
    background-image: none;
    color: @text-contrast;
    background-color: @theme-dark;
    &:hover {
        color: @text-color;
        background-color: @theme-light;
        >a {
            color: @text-color;
        }
    }
    >a {
        color: @text-contrast;
        text-decoration: none;
        &:hover,
        &:focus {
            color: @text-color;
        }
    }
}

.partner-box {
    height: 200px;
    text-align: center;
    margin: 1em 0;
    img {
        max-height: 200px;
        max-width: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.service-box {
    height: 300px;
    padding-top: 10px;
    i.fa {
        color: @theme-dark;
    }
}

.header-col {
    height: 180px;
}

.brand-logo {
    height: 100%;
    max-width: 100%;
}

.brand-info {
    h1 {
        font-size: 42px;
    }
}

.footer-content {
    padding-top: 10px;
    padding-bottom: 10px;
    color: @text-color;
    font-size: 18px;
    font-weight: 600;
    .sans-serif-font;
}

.spacer {
    padding-left: 10px;
    padding-right: 10px;
}

.team-member {
    height: 180px;
    img {
        max-height: 100px;
        max-width: 100px;
    }
}

.fa-facebook,
.fa-facebook-square,
.fa-facebook-official {
    color: #3b5998
}

.fa-twitter-square,
.fa-twitter,
.fa-twitter {
    color: #55acee;
}

.fa-envelope{
    color: #ffffff;;
}

.fa-phone-square{
    color: @theme-dark;
}