@import "variables.less";
@import "mixins.less";
@import "navigation.less";
@import "fa-colors.less";
html,
body {
    min-height: 100%;
    width: 100%;
}

body {
    .serif-font;
    color: @text-color;
    background: url(../img/bg.jpg) repeat-x #b0d169;
}

hr {
    border-color: @theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

h3 h4,
h5,
h6 {
    .serif-font;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 700;
    .sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.text-right {
    text-align: right;
}

.spacer {
    padding-left: 10px;
    padding-right: 10px;
}

.sm-spacer {
    padding-left: 5px;
    padding-right: 5px;
}

.text-faded {
    color: fade(@theme-light, 70%);
}

.push-down {
    padding-top: 50px;
}

.padded {
    padding-top: 30px;
    padding-bottom: 30px;
}

.no-padding {
    padding: 0;
}

.text-muted {
    color: @text-color;
}

.btn-default {
    background-image: none;
    color: @text-contrast;
    background-color: @theme-dark;
    border: 0;
    text-transform: lowercase;
    &:hover {
        color: @text-color;
        background-color: @theme-light;
        border: 1px solid @theme-dark;
        >a {
            color: @text-color;
        }
    }
    &:disabled {
        border: 1px solid @theme-dark;
        color: @text-color;
        background-color: @theme-light;
    }
    >a {
        color: @text-contrast;
        text-decoration: none;
        &:hover,
        &:focus {
            color: @text-color;
        }
    }
}

.home-content-left {
    display: block;
    margin: auto;
    ul {
        padding: 0; // padding-top: 30px;
        list-style-type: none;
        text-align: center;
        li {
            // font-size: 24px;
            // font-weight: 700;
            &.item-1 {
                color: #02506B;
            }
            &.item-2 {
                color: #8A2E20;
            }
            &.item-3 {
                color: #3C256D;
            }
            &.item-4 {
                color: #B64324;
            }
            &.item-5 {
                color: #BC8221;
            }
            &.item-6 {
                color: #0E742B;
            }
            &.item-7 {
                color: #143025;
            }
        }
    }
}

p.details {
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

.kariton {
    height: 50%;
}

.img-kariton {
    height: 30%;
    width: 30%;
    margin: auto;
}

.brand-title {
    text-transform: lowercase;
    font-weight: 400;
    .brand-m,
    .brand-i,
    .brand-c {
        text-transform: uppercase;
        color: #BF7941;
    }
}

.header-content {
    text-align: center;
}

.container-content {
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
}

.partner-box {
    height: 200px;
    text-align: center;
    margin: 1em 0;
    img {
        max-height: 200px;
        max-width: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.product-box {
    height: 200px;
    text-align: center;
    margin: 1em 0;
    img {
        max-height: 200px;
        max-width: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.service-box {
    height: 350px;
    padding-top: 10px;
    &:hover {
        cursor: pointer;
    }
    i.fa {
        color: @theme-dark;
    }
}

.plan-box-content {
    h3 {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 32px;
        .sans-serif-font()
    }
    p {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 500;
        .sans-serif-font()
    }
}

.plan-box {
    min-height: 280px;
    color: @text-light;
    &.individual-family-plan {
        background-image: url(../img/portfolio/plans/individual-family.jpg);
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
    }
    &.group-corporate-plan {
        background-image: url(../img/portfolio/plans/group-corporate.jpg);
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
    }
}

.header-col {
    height: 120px;
}

.brand-logo {
    height: 100%;
    max-width: 100%;
}

.brand-info {
    h1 {
        font-size: 42px;
    }
}

.footer-content {
    padding-top: 10px;
    padding-bottom: 10px;
    color: @text-color;
    font-size: 18px;
    font-weight: 600;
    .sans-serif-font;
}

.team-member {
    min-height: 220px;
    img {
        max-height: 100px;
        max-width: 100px;
    }
}

img.team-gallery {
    max-height: 500px;
    max-width: 900px;
    vertical-align: center;
    margin: 0 auto;
}
#plan {
    max-width: 800px;
}